
html, *
{ 
  margin: 0;
  padding: 0;
}

body
{ 
  padding: 40pt 80pt 40pt 80pt;
  font-size: 11pt;
  font-family: Arial, sans-serif;
  color: #070b0f;
  line-height: 1.3;
  word-spacing: 0.1em;
}

#bottom
{
  clear: both;
}

a, a:visited, a:active
{ 
  color: #89ba57;
  text-decoration: none;
  font-weight: bold;
}

h1, h2, h3
{
  font-family: Georgia, serif;
  font-weight: bold;
  word-spacing: 0.25em;
  color: #5788ba;
  clear: both;
}

h1
{
  font-size: 28pt;
  margin-bottom: 10pt;
}

h2
{
  font-size: 20pt;
  margin-bottom: 20pt;
  padding-top: 10pt;
}

h3
{
  font-size: 16pt;
  text-align: right;
  margin-right: 40pt;
  margin-bottom: 10pt;
  padding-top: 10pt;
}

ul
{
  margin-left: 30pt;
  padding-top: 5pt;
  padding-bottom: 5pt;
}

li
{
  margin-bottom: 10pt;
  list-style-type: circle;
}

p
{
  margin-top: 10pt;
  margin-bottom: 10pt;
}

blockquote
{
  margin: 20pt 30pt 20pt 30pt;
}

#header
{
  width: 100%;
}

#photo
{
  width: 25%;
  float: left;
}

#info
{
  float: left;
  width: 75%;
}

#info h1
{
  margin-bottom: 5pt;
}

#links
{
  margin-top: 10pt;
  line-height: 1.7;
}

#content
{
  clear: both;
}

#sections
{
  padding-top: 10pt;
  width: 25%;
  float: left;
}

.section
{
  margin-top: 10pt;
  margin-bottom: 10pt;
}

#expansion
{
  width: 70%;
  margin-top: -40pt;
  float: left;
}

#expansion p
{
  text-align: justify;
}

